<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Networking</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <div class="bg-header">
      <div class="logo">
        <img src="logo.png" alt="">
      </div>
      <ul class="nav-area">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
  </div>
  
  <body>
    <section class="header">
        <h1>NETWORKING</h1>
        <h4>Networking atau Infrastruktur jaringan adalah sekumpulan komponen fisikal dan logikal yang menyediakan dasar untuk konektivitas, keamanan, routing, pengaturan, akses, dan fitur integral pada jaringan.</h4>
    </section>
    <section class="spesifikasi">
        <p>DO YOU LIKE THIS POST?</p>
        <ul>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
        </ul>
        <p>Wanna create some?</p>
        <a href="#">Create Post</a>
    </section>
    <section class="content-container">
        <div class="left-content">
            <h2>Networking</h2>
            <div class="featured-article">
                <img src="1.jpg" alt="">
                <p>Infrastruktur networking adalah fondasi dasar dari layanan sistem informasi dan data. Pertumbuhan sistem layanan informasi dan data harus disertai dengan kemampuan sistem jaringan yang baik dan berkualitas tinggi. Itu sebabnya solusi strategis diperlukan untuk merencanakan, merancang, mengimplementasikan, mengelola dan mengoptimalkan sistem jaringan. Sistem Networking yang baik sesuai kebutuhan organisasi hanya bisa terbentuk dari perencanaan, perancangan, pengelolaan, dan optimalisasi yang sesuai best practice. Implementasi berbagai proses praktik terbaik akan mengurangi berbagai hambatan dan risiko seiring dengan pertumbuhan informasi dan layanan data. Masalah utama berikut terjadi dalam sistem jaringan dan infrastruktur.</p>
            </div>
            <h3>Mengapa Perlu Networking ?</h3>
            <p>Networking sangat dibutuhkan, terutama pada zaman yang semakin lama semakin canggih seperti ini ,karena jaringan itu tentu sangat penting untuk berlangsungnya hubungan atau komunikasi antar komputer. Misalnya, jika Anda ingin berbagi atau berbagi printer, setiap komputer tidak mungkin memiliki printer satu-ke-satu. Maka server berbagi koneksi internet dengan klien “di kantornya.</p>
            <div class="another-article">
                <h3>Alat-alat Penting dalam Networking</h3>
                <img src="2.jpg" alt="">
                <ul>
                    <li>Router, yaitu sebuah alat yang mengirimkan paket data melalui sebuah jaringan atau Internet menuju tujuannya, melalui jaringan atau Internet.</li>
                    <li>Switch, yaitu perangkat jaringan komputer yang bekerja di OSI Layer 2, Data Link Layer.</li>
                    <li>Access point, yaitu perangkat yang digunakan sebagai pembuat koneksi wireless pada jaringan komputer.</li>
                    <li>NIC adalah singkatan dari Network Interface Card, yaitu sebuah kartu yang fungsinya sebagai jembatan dari komputer ke sebuah jaringan komputer.</li>
                </ul>
                <button class="btn read-more-btn">Read More</button>
        </div>
        <div class="right-content">
            <div class="avatar-content">
                <img src="3.jpg" alt="">
                <p class="author-caption">From Adalah.Co.Id</p>
            </div>
            <div class="newsletter">
                <h5>Stay Updated</h5>
                <input type="email" name="" id="" placeholder="Email Address">
                <button class="btn sub-btn">Subscribe</button>
            </div>
            <div class="search">
                <h5>SEARCH</h5>
                <input type="text" placeholder="LOOKING FOR">
                <button class="search-btn">GO</button>
            </div>
        </div>
    </section>
  </body>
</html>