<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Cara Ping Koneksi Internet dengan CMD</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>
  <div class="bg-header">
      <div class="logo">
        <img src="logo.png" alt="">
      </div>
      <ul class="nav-area">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Blog</a></li>
      </ul>
  </div>
  
  <body>
    <section class="header">
        <h1>Cara Ping Koneksi Internet dengan CMD</h1>
        <h4>Ping adalah singkatan dari Packet Internet Gropper, sebuah perintah yang digunakan untuk mengecek sebuah koneksi jaringan yang biasanya dipakai melalui pinh command promprt atau biasa disingkat CMD di PC.</h4>
    </section>
    <section class="spesifikasi">
        <p>DO YOU LIKE THIS POST?</p>
        <ul>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
            <li><i class="far fa-star"></i></li>
        </ul>
        <p>Wanna create some?</p>
        <a href="#">Create Post</a>
    </section>
    <section class="content-container">
        <div class="left-content">
            <h2>Ping</h2>
            <div class="featured-article">
                <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Cmd-ping.png" alt="">
                <ol>
                    <li>Pertama tekan logo <b>Windows + R</b> pada keyboard PC secara bersamaan</li>
                    <li>Lalu masukkan perintah Ping berikut ini pada kolom CMD</li>
                    <p><b>ping www.google.com -t</b></p>
                    <li>Lalu tekan <b>Enter</b> atau <b>Oke</b> pada menu CMD</li>
                    <img src="https://1.bp.blogspot.com/-TkVe5l8YQV8/XSwH4l31k6I/AAAAAAAAAus/Uvc6esuuu_4HN_9r77-jMd53RQN54v8oACLcBGAs/s1600/cara-ping-koneksi-internet-cmd.jpg">
                    <li>Tunggu beberapa saat jika koneksi internet stabil maka ping di CMD akan segera muncul</li>
                    <img src="https://1.bp.blogspot.com/-sXW8PfDe218/XSwIb7OTiSI/AAAAAAAAAu0/1cagu4zhnagDPcoafsbDb7BFX6v7-MnqACLcBGAs/s1600/ping-internet-cmd.jpg">
                    <li>Semakin kecil nilai <b>time=</b> pada ping semakin bagus koneksi internet kami, jika jaringan terjadi error maka akan menandakan pesan request timed out.</li>
                </ol>
            </div>    
        <div class="right-content">
            <div class="avatar-content">
                <img src="3.jpg" alt="">
                <p class="author-caption">source : https://www.malasngeblog.com/2019/07/cara-ping-koneksi-internet-dengan-cmd.html</p>
            </div>
            <div class="newsletter">
                <h5>Stay Updated</h5>
                <input type="email" name="" id="" placeholder="Email Address">
                <button class="btn sub-btn">Subscribe</button>
            </div>
            <div class="search">
                <h5>SEARCH</h5>
                <input type="text" placeholder="LOOKING FOR">
                <button class="search-btn">GO</button>
            </div>
        </div>
    </section>
  </body>
</html>